*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font style */
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Design for nav section */
nav{
    width: 100%;
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}
/* .nav-logo{
    padding:16px 0px ;
} */
 .logo {
  text-align: center;   /* সবকিছু মাঝখানে */
}

.kv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.tagline {
  font-size: 14px;
  margin-top: 4px;      /* KV-এর নিচে gap */
  color: #333;
}



nav .right-side{
    display: flex;
    align-items: center;
}

nav .menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    margin-left: 345px;
    margin-right: 345px;
}

.menu ul a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    font-family: Inter;
}
ul a:hover{
    color: rgb(63, 141, 230);
}
.btn{
    padding: 12px 16px ;
    font-weight: 600;
    line-height: auto;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: Inter;
}

button:hover{
  background-color: darkblue;
}


/* Design for banner section */
#banner{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
}

.banner-component{
    padding:115px 120px 179px 120px;
}

.badge {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 8px 12px 8px 0px;
    border-radius: 50px; 
    font-size: 14px;
    color: #469165; 
    font-weight: 500;
    margin-bottom: 16px; 
    font-family: Inter;
}

.dot{
    background-color:#469165 ;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 12px;
    opacity: 100%;
}

.banner-content h1{
    opacity: 90%;
    font-size: 72px;
    font-family: Inter;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
}

.text-green{
    color:#30B868 ;
}

.banner-component p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: Inter;
    margin-bottom: 32px;
}

.banner-component .banner-btn{
    width: 465px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin: 0px auto;
}

.banner-btn .banner-btn1{
    width: 251px;
    height: 52px;
    justify-content: center;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
    font-family: Inter;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.banner-btn1:hover{
     background-color: darkblue;
}


.banner-btn .banner-btn2{
    width: 198px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.banner-btn2:hover{
    background-color: darkblue;
}


.right-arrow{
    width: 20px;
    height: 20px;
}

.banner-btn .banner-btn2 i {
width: 20px;
height: 20px;
margin-top: 8px;
margin-right: 8px;
}


/* Design for notes section */
#note .header-section{
    width: 85%;
    max-width: 1360px;
    height: 152px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:16px ;
    text-transform: capitalize;
}

.header-section h2{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    line-height: auto;
    text-align: center;
    font-family: Inter;
    line-height: 58px;
    margin-top: 59px;
    color: #001931;
}
.header-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: Inter;
    text-align: center;
    color: #627382;
}

#note .card-section{
    width: 85%;
    max-width: 1360px;
    height: 300px;
    margin: 0px auto;
    margin-top: 44px;
    display: flex;
    gap: 24px;
}

.card-section .card{
    width: 322px;
    height: 300px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000011;
    border-radius: 8px;


}

.card-section .card h4{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    color: #001931;
}

.card-section .card p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}

.card .logo-sec{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.logo-sec .logo{
    width: 32px;
    height: 32px;
}



/* Design for second brain section */
#second-brain-section{
    padding: 120px;
}

#second-brain-section .brain-section{
    display: flex;
    width: 1360px;
    height: 600px;
    margin: 0px auto;
    gap: 60px;
}

.brain-section .left-img {
    width:600px ;
    height:600px ;
    border-radius: 12px;
}

.right-section{
    padding: 102px 0px;
}

.right-section-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.right-section-content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: Inter;
    font-style: Medium;
    text-transform: uppercase;
    color: #469165;
}

.right-section-content h2 {
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}
.right-section-content .paragraph{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-transform: none;
    margin-bottom: 40px;
}

.right-section .feature-item{
    display: flex;
    gap: 6px;
}
.feature-item p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: Inter;
    font-style: Medium;
}

.four-line{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Early Access Section */
#EAS-Section{
    padding: 2px 120px 120px 120px;
}

.EAS-banner-content{
    background-color: #F7F6F2;
    width: 1320px;
    height: 384px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
}

.EAS-banner-content .simple-message h2{
    font-size: 40px;
    font-style: Bold;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    font-family: Inter;
    text-transform: capitalize;
    color: #001931;
    margin-bottom: 16px;
}

.EAS-banner-content .simple-message p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Inter;
    margin-bottom: 24px;
    color: #627382;
}

.EAS-banner-content .GEA-btn{
    width: 194px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 16px;
}

.GEA-btn:hover{
    background-color: darkblue;
}

.GEA-btn .btn-text{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    font-family: Inter;
    text-transform: capitalize;
}


.EAS-banner-content .ending-msg{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}

/* Footer section */
#footer{
    width: 100%;
    max-width: 1600px;
    height: 348px;
    padding: 120px 120px 30px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #001931;
    text-align: center;
    justify-content: center;

}

#footer .section-one{
    display: flex;
    justify-content: space-between;
}
#footer .section-one .footer-img{
    width: 159px;
    height: 60px;
}

#footer .section-two .title{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
    font-weight: 500;
    font-family: Inter;
}

#footer .section-two .social-link a{
    text-decoration: none;
    color: #FFFFFF;
}

#footer .section-two .social-link{
    display: flex;
    gap: 10px;
}

#footer hr {
    width: 100%;
    max-width: 1360px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid;
    margin: 0 !important;
    padding: 0 !important;
}
#footer .section-three p{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    font-style: Inter;
    font-weight: 400;
    margin-top: 30px;
}




