*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 100%;
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}
.nav-logo{
    padding:16px 0px ;
}

nav .right-side{
    display: flex;
    align-items: center;
}

nav .menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    margin-left: 345px;
    margin-right: 345px;
}

.menu ul a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    font-family: Inter;
}

.btn{
    padding: 12px 16px ;
    font-weight: 600;
    line-height: auto;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: Inter;
}

#banner{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
}

.banner-component{
    padding:115px 120px 179px 120px;
}

.badge {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 8px 12px 8px 0px;
    border-radius: 50px; 
    font-size: 14px;
    color: #469165; 
    font-weight: 500;
    margin-bottom: 16px; 
    font-family: Inter;
}

.dot{
    background-color:#469165 ;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 12px;
    opacity: 100%;
}

.banner-content h1{
    opacity: 90%;
    font-size: 72px;
    font-family: Inter;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
}

.text-green{
    color:#30B868 ;
}

.banner-component p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: Inter;
    margin-bottom: 32px;
}

.banner-component .banner-btn{
    width: 465px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin: 0px auto;

}

.banner-btn .banner-btn1{
    width: 251px;
    height: 52px;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
    font-family: Inter;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.banner-btn .banner-btn2{
    width: 198px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.right-arrow{
    width: 20px;
    height: 20px;
}

.banner-btn .banner-btn2 i {
width: 20px;
height: 20px;
margin-top: 8px;
margin-right: 8px;
}

#note .header-section{
    width: 85%;
    max-width: 1360px;
    height: 152px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:16px ;
    text-transform: capitalize;
}

.header-section h2{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    line-height: auto;
    text-align: center;
    font-family: Inter;
    line-height: 58px;
    margin-top: 59px;
    color: #001931;
}
.header-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: Inter;
    text-align: center;
    color: #627382;
}

#note .card-section{
    width: 85%;
    max-width: 1360px;
    height: 300px;
    margin: 0px auto;
    margin-top: 44px;
    display: flex;
    gap: 24px;
}

.card-section .card{
    width: 322px;
    height: 300px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000011;
    border-radius: 8px;


}

.card-section .card h4{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    color: #001931;
}

.card-section .card p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}

.card .logo-sec{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.logo-sec .logo{
    width: 32px;
    height: 32px;
}

#second-brain-section{
    padding: 120px;
}

#second-brain-section .brain-section{
    display: flex;
    width: 1360px;
    height: 600px;
    margin: 0px auto;
    gap: 60px;
}

.brain-section .left-img {
    width:600px ;
    height:600px ;
    border-radius: 12px;
}

.right-section{
    padding: 102px 0px;
}

.right-section-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.right-section-content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: Inter;
    font-style: Medium;
    text-transform: uppercase;
    color: #469165;
}

.right-section-content h2 {
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}
.right-section-content .paragraph{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-transform: none;
    margin-bottom: 40px;
}

.right-section .feature-item{
    display: flex;
    gap:16px;
}
.feature-item p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: Inter;
    font-style: Medium;
}

.four-line{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

